p {
	/*ფონტები*/
	 font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 900;
 
}
#teqsti {
	/*ეს არის აბზაცისთვის*/
	text-indent: 30px;
	/*ეს არის ხაზებს შორის დაცილებისთვის*/
	line-height: 25px;
}
#dashoreba {
	/*ასოებს შორის დაცილება*/
	letter-spacing: 20px;
	font-weight: 2000;
	margin-left: 100px;


}
h4 {
	/*ეს არის იგივე capslock ყველა ასოს ადიდებს*/
	text-transform: uppercase;
	/*მარტო სიტყვის პირველი ასოები დიდდება
	text-transform: capitalize;*/
	margin-left: 100px;
}
.foto {
	margin:0 500px 0 100px;
	width: 300x;
	height: 200px;
	display: inline-block;
	}

.ricxvi {
	background-color: red;
	color: black;
	font-weight: 350px;
	display: inline-block;
	font-size: 25px;
	margin-left: 100px;
}
.line {
	width: 380px;
	height: 2px;
	background-color: red;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 100px;
}
.satauri {
	text-transform: uppercase;
	font-weight: 600;
	color: darkred;
	font-size: 24px;
	margin-bottom: 15px;
}
ol {
	list-style-type: none;
}
#header {
	color: red;
}
#leqcia5 {
	text-align: center;
}